.clearfix{
  content:'';
  display:block;
  clear:both;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
html{
  font-size:16px;
}
.HomeWrapper{
  width:80rem;
  border:1px solid red;
  margin:0 auto;
  padding-top:1.25rem;
  display:flex;
  justify-content: left;
  background-color: #ECECEC;
}
.aside{
  width:18.5rem;
  border:1px solid green;
}
.aside > .avatar{
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.aside > .avatar::after{
  content:'';
  border:0 solid transparent;
  border-top:1.25rem solid #D6D6D6;
  border-left:18.5rem solid transparent;
  margin-top:3rem;
}
.aside > .avatar > .name{
  font-size:3rem;
  text-align: center;
}
.aside > .avatar > .seperator{
  border-bottom:0.5px solid #9D9B9B;
  width:6rem;
  margin:1rem 0;
  margin-bottom:2rem;
}
.aside > .avatar > .job {
  text-align: center;
  word-wrap:break-word;
  letter-spacing:0.2rem;
  color:#696969
}
section.contact{
  display:flex;
  justify-content: center;
  margin-top:3rem;
}
section.contact > ul > li{
  margin-bottom:0.7rem;
  width:100%;
  border-bottom:0.05rem solid #9D9B9B;
}
section.contact span.list-icon {
  border-right:0.05rem solid #9D9B9B;
  margin:0.5rem;
}
section.contact span.list-text {
  margin:0.5rem;
}
section.skills{
  text-align: center;
  background-color: #46BEA9;
  margin-top:2rem;
}
section.skills > .title{
  font-size:1.3rem;
  padding:1.5rem 0;
}
section.skills ul>li{
  display:flex;
  justify-content: space-between;
  border-bottom:0.1rem solid black;
  margin:0 1rem;
  padding:1rem 0;
}
section.slills .skill-point{
  display:flex;
  justify-content: space-around;
}
section.skills .skill-point span{
  display:inline-block;
  width:0.7rem;
  height:0.7rem;
  border-radius:50%;
  margin:0 0.1rem;
  background-color: #fff;
}
section.skills .skill-point span.black{
  background-color: black;
}
.article{
  width:60rem;
  border:1px solid blue;
  background-color: #fff;
}
